header {
  overflow: hidden;
}

a:hover {
  text-decoration: none;
}

.navbar .navbar-brand {
  color: #c97d68;
}

.navbar .navbar-brand:hover {
  color: #91471d;
}

.banner {
  position: relative;
  z-index: -1;
  margin: -5px;
  height: 360px;
  background: #dddddd center center
    url("https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5720/restaurants-list-cover.jpg");
  background-size: cover;
  filter: blur(3px);
}

.search-bar .search-bar-outer {
  margin: 0 auto;
  max-width: 680px;
  background-color: #eaded5;
  border-radius: 8px;
  padding: 20px 30px;
  border: 0;
  margin-top: -60px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.search-bar .search-bar-inner h4 {
  color: #c97d68;
}

.form-control::placeholder {
  color: #aaaaaa;
  font-size: 0.8rem;
}

.container .row {
  color: #c97d68;
}

.btn-major {
  background-color: #c97d68;
  color: white;
}

.btn-major:hover {
  background-color: #91471d;
  color: white;
}

.btn-major-red {
  background-color: #AC1414;
  color: white;
}

.btn-major-red:hover {
  background-color: #8A1010;
  color: white;
}

.btn-major-green {
  background-color: #579786;
  color:white;
}
 .btn-major-green:hover {
  background-color: #345A50;
  color: white;
}


.text-major {
  color: #c97d68;
}
.text-major-dark {
  color: #91471d;
}

.text-major-red {
  color: #AC1414;
}

.badge-rate {
  background-color: #c97d68;
  color: white;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}

.card {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.card img {
  height: 180px;
}

.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.restaurant-category {
  color: #666666;
  font-size: 0.8rem;
}

.restaurant-show-title {
  position: relative;
  top: -100px;
  color: white;
  text-align: center;
  font-size: 3rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 992px) {
  .card img {
    height: 115px;
  }
}

@media screen and (max-width: 768px) {
  .restaurant-show-title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 575px) {
  .card img {
    height: auto;
  }
}

.fa-exclamation-triangle {
  font-size: x-large;
}

.modal-footer {
  border: none
}

.card-columns .card {
    margin-bottom: 0;
}

.icon-button > .fas {
  color: #aaaaaa
}
.icon-button:hover > .fas {
  color: #91471d
}

.card-href:hover {
  background-color: #ebe6e3;
  box-shadow: 0 0 0 rgb(0 0 0 / 0%);
}
.card-href:active {
  box-shadow: inset 0 3px 10px rgb(0 0 0 / 10%);
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #aaaaaa;
}

.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(201 125 104 / 25%);
}
